.red {
	color: red;
} 

.font {
	font-family: "Courier New";
}

.background {
	background-color: pink;
} 
.email {
	font-family: "Montserrat";
	
}
.h2 {
	color: maroon;
	margin-left: 10px;
}
.newfont {
	font-family: "AudioWide";
}